Repository spglib/moyo, pull requests merged in 2025-01, with the labels that each got.

#44 Magnetic operation search
  .github/workflows/ci-python.yaml
  .github/workflows/ci-rust.yaml
  .gitignore
  moyo/src/base.rs
  moyo/src/base/action.rs
  moyo/src/base/cell.rs
  moyo/src/base/error.rs
  moyo/src/base/magnetic_cell.rs
  moyo/src/base/operation.rs
  moyo/src/base/permutation.rs
  moyo/src/base/tolerance.rs
  moyo/src/base/transformation.rs
  moyo/src/data/hall_symbol.rs
  moyo/src/data/point_group.rs
  moyo/src/identify/point_group.rs
  moyo/src/identify/space_group.rs
  moyo/src/lib.rs
  moyo/src/search.rs
  moyo/src/search/primitive_cell.rs
  moyo/src/search/primitive_symmetry_search.rs
  moyo/src/search/symmetry_search.rs
  moyo/src/symmetrize/standardize.rs
  moyo/tests/test_moyo_dataset.rs
  moyopy/Cargo.toml
  moyopy/pyproject.toml
  moyopy/src/base.rs
  moyopy/src/data.rs
Labels: breaking-changes

#45 Hide internal APIs and optimize performance
  Cargo.lock
  README.md
  justfile
  moyo/src/base.rs
  moyo/src/base/operation.rs
  moyo/src/base/tolerance.rs
  moyo/src/base/transformation.rs
  moyo/src/data.rs
  moyo/src/data/arithmetic_crystal_class.rs
  moyo/src/data/centering.rs
  moyo/src/data/classification.rs
  moyo/src/data/hall_symbol.rs
  moyo/src/data/hall_symbol_database.rs
  moyo/src/data/point_group.rs
  moyo/src/identify.rs
  moyo/src/identify/point_group.rs
  moyo/src/identify/space_group.rs
  moyo/src/lib.rs
  moyo/src/math.rs
  moyo/src/math/integer_system.rs
  moyo/src/math/snf.rs
  moyo/src/search.rs
  moyo/src/search/primitive_cell.rs
  moyo/src/search/primitive_symmetry_search.rs
  moyo/src/search/solve.rs
  moyo/src/search/symmetry_search.rs
  moyo/src/symmetrize.rs
  moyo/src/symmetrize/standardize.rs
  moyo/tests/test_moyo_dataset.rs
  moyopy/src/base.rs
  moyopy/src/data.rs
  moyopy/src/data/setting.rs
  moyopy/src/lib.rs
Labels: breaking-changes

#55 Add `MoyoAdapter.from_py_obj` convenience method for generic structure conversion
  moyopy/python/moyopy/interface.py
  moyopy/python/tests/test_interface.py
Labels: enhancement

#57 Search [-1, 1] transformation matrix first
  bench/mp/analysis.ipynb
  bench/mp/mp.png
  bench/mp/mp.py
  moyo/src/base/lattice.rs
  moyo/src/identify/point_group.rs
  moyo/tests/assets/wyckoff_edge_case.json
  moyo/tests/test_moyo_dataset.rs
Labels: bug

#59 Add `MoyoDataset.__str__`
  moyopy/pyproject.toml
  moyopy/python/tests/test_moyo_dataset.py
  moyopy/src/lib.rs
Labels: enhancement
